# this is a dev config file, nearly same with local config
# some credentials should use environment variables and inject when you start the container

server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:127.0.0.1}:${POSTGRES_PORT:5432}/${POSTGRES_DB:local}
    username: ${POSTGRES_USER:test}
    password: ${POSTGRES_PASSWORD:test}
